<h1>Articles list:</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each_with_index do |article, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td>Remove</td>
    </tr>
    <% end %>
  </tbody>
</table>
