<div class="banner" style="background-color: <%= @colors.sample %>">
  <div class="container banner-content">
    <h1>MOSHI BLOG</h1>
    <p>Where interesting minds come together</p>
    <%= link_to "Sign up", signup_path, class: "btn-sharp" %>
  </div>
</div>
