<div class="banner" style="background-color: <%= @colors.sample %>">
  <div class="container banner-content">
    <h1>MOSHI BLOG</h1>
    <p>Where interesting minds come together</p>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Logout", destroy_user_session_path %>
  </div>
</div>
