<div class="banner" style="background-color: <%= @colors.sample %>">
  <div class="container banner-content">
    <h1>MOSHI BLOG</h1>
    <p>Where interesting minds come together</p>
    <a class="btn-small btn-underline">Start writing</a>
  </div>
</div>
