.articles-container {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article {
  padding: 30px;
  background: lightcoral;
}

.article-content {
  flex-grow: 1;
}

.title {
  font-size: 60px;
}

/* - - -  */

@media(max-width: 992px) {
  .articles-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .articles-container {
    grid-template-columns: 1fr;
  }
}
