.banner {
  flex-grow: 1;
  color: #fff;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-banner {
  padding: 60px 0px;
}

.banner-content * {
  margin-bottom: 30px;
}

.banner p {
  font-size: 30px;
}
.banner h1 {
  font-size: 50px;
}
