.footer {
  background: rgb(0, 0, 0);
  position: sticky;
  bottom: 0;
  color: #fff;
  font-size: 14px;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
  display: inline-block;
}
