p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

.small-container {
  width: 600px;
  margin: 0 auto;
}

@media(max-width: 992px) {
  .small-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .small-container {
    width: 80%;
  }
}
