.navbar {
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 1px #000;
}

.navbar .nav-li {
  color: black;
  text-decoration: none;
  margin-right: 30px;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.navbar .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 0.1px solid grey;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar:hover {
  cursor: pointer;
}


@media (min-width: 578px) {
  .navbar-nav {
    align-items: center;
  }
}

@media(max-width: 576px) {
  .navbar-nav {
    align-items: flex-start;
  }
}
