<div class="footer mt-auto py-4">
  <div class="nav-social text-center">
    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
    </ul>
  </div>
  <p class="text-center">Coded by María C.</p>
</div>
